* {
    padding: 0;
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
}

.wrapper {
    background: rgb(29, 29, 29);
    min-height: 100vh;
    color: rgb(0, 196, 196)
}

.header {
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 15vh;
    margin-bottom: 20px;

}

.containerInpBut {
    display: flex;
    font-size: 20px;
}

.containerInpBut input{
    border-radius: 20px;
    border: 2px solid rgb(0, 128, 128);
    margin-left: 10px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(34,193,195);
    outline:none;
}

.containerInpBut button{
    border-radius: 20px;
    border: 2px solid rgb(0, 128, 128);
    background-color: rgb(0, 196, 196);
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.headButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
}

.headButton img {
    width: 25px;
    height: 25px;
}

.containerInpBut button:hover {
    border: 2px solid rgb(0, 255, 255);
    background-color: rgb(1, 177, 177);
    transition: .3s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainSlider {
    border: 3px ridge white;
    height: 480px;
    width: 853px;
    box-shadow: 22px 30px 13px 0px rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.mainImgLine {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    left: 0;
    transition: 1s;
    user-select: none;
}

.sliderImg {
    width: 853px;
    pointer-events: none;
}

.buttons {
    border-radius: 20px;
    border: 2px solid rgb(0, 128, 128);
    background-color: rgb(0, 196, 196);
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    color: white;
}

.buttons:hover {
    border: 2px solid rgb(0, 255, 255);
    background-color: rgb(1, 177, 177);
    transition: .3s;
}


